<div class="page-header">
  <h3>Results</h3>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <% if user_signed_in? %> <%= current_user.email %>, your search found <%= @ride.length %> rides.
    <% else %>
    Guest, your search found <%= @ride.length %> rides.
    <% end %>
  </div>
  
  <div class="list-group">
    <% @ride.each do |ride| %>
      <%= link_to ride, {:class => "list-group-item"} do %>
        <div class="media">
          <%= image_tag("driver_default.png", class: "media-object pull-left", alt: "Diver Image", size: "50") %>
          <div class="pull-right">
            Price per seat <%= number_to_currency(ride.price) %>
          </div>
          <div class="media-body"> 
            <h3 class="media-heading"><%= ride.Start_Address %> - <%= ride.End_Address %></h3>
            <%= ride.Time.strftime("Departs %l:%M%p")%> 
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# @ride.each do |ride| Ride.start_address, ride.end_address, ride.time, ride.seat_count, ride.preferences, ride.price, if user_signed_in? and current_user.id == ride.driver_id add link to edit (link_to "Edit", edit_ride_path(ride))    %>




